* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 1.5rem;
}

.todo-container h1 {
  font-family: cursive;
}
.todo-container form {
  margin-block: 1rem;
}

.todo-container input {
  padding: 0.5rem;
}
.todo-container .addBtn {
  padding: 0.5rem;
  background-color: greenyellow;
  border: 2px solid rgb(49, 255, 83);
}
.todo-container-list {
  box-shadow: 0px 0px 6px 7px orange;
}
.todo-container-list div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  border-bottom: 2px solid orange;
  padding: 1rem;
}

/* media query */

@media (min-width: 720px) {
  .todo-container-list div {
    width: 40vw;
  }
  .todo-container input {
    width: 300px;
  }
}
